<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C Programming Quiz</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> <!-- Font Import -->
    <link rel="stylesheet" href="../css/quest.css"> <!-- Your custom CSS -->
</head>
<body>
    <div id="scary-background"></div> <!-- Scary dungeon background -->
    <div id="quiz-container">
        <div id="question"></div>
        <div id="answers"></div>
        <br>
        <div id="timer">Time left: <span id="time">60</span> seconds</div>
    </div>
    <script src="../js/quest.js"></script> <!-- Your JavaScript file -->
</body>
</html>
